.carousel-section {
    background-color: #5aba73;
    border-radius: 10px;
    width: 80%;
}

#hero-carousel {
    padding-top: 50px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}

.c-item{
    height: 340px;
    display: flex;
}

.c-box {
    display: flex;
}

.c-image {
    width: 490px;
    margin-left: 250px;
}

.c-text {
    margin-left: 170px;
    width: 400px;
    margin-top: 50px;
    color: white;
}

.c-button {
    color: #5aba73;
    background-color: #5aba73;
}

.c-i-button{
    position: relative;
    top: 70px;
    filter: invert(1);
}
