html{
    overflow-x: hidden;
    font-family: "Inter", sans-serif;
}

body{
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f8f5;
    color: #333;
}

/*LOGO*/
.logo {
    margin-right: 2px;
    margin-left:8%;
    
}


/* Navigation Bar */
nav{
    justify-content: space-between;
    display: flex;
    padding: 3px;
    background-color: white;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 20px 10px;
    margin-right: 400px;
}

nav li{
    padding: 10px;
    margin-left: 20px;
    transition: 0.5s;
    cursor: pointer;
}

#cad{
    background-color: #5aba73;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
   display: inline;
}

#cad-text{
    text-decoration: none;
    font-style: none;
    color: white;
    font-weight: bold;
}

#cad:hover{
    background-color: #357737;
}

/*ENTRAR*/
#sign{
    background-color: #fafafa;
    border-radius: 10px;
    border-style: solid;
    border-color: #5aba73;
    cursor: pointer;
    transition: 0.5s;
   display: inline;
   margin-left: 2px;
}

#sign-text{
    text-decoration: none;
    font-style: none;
    color: #5aba73;
    font-weight: bold;
}

#sign:hover{
    background-color: #357737;
}


nav li:hover {
    color: rgb(192, 192, 192);
}

img{
    width: 100px;
    margin-left: 400px;
    cursor: pointer;
}


/* Hero Section */
.homepage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9%;
    background: #ffffff;
}

.homepage__content {
    max-width: 40%;
}

.homepage_title {
    font-family: 'Lexend Deca', Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: #2e7d32;
    margin-bottom: 20px;
}

.homepage__subtitle {
    font-size: 18px;
    color: #555;
    margin-bottom: 30px;
}

.cta_button {
    background-color: #5aba73;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    transition: 0.5s;
}



.cta_button:hover {
    background-color: #1e5f22;
}

/* Hero Image */
.imagem__image img {
    width: fit-content;
    height: auto;
}

.circle {
    width: 200px;
    height: 200px;
    border: 20px solid #d4edda;
    border-radius: 50%;
}

.services-hero{
    display: flex;
    justify-content: center;
    background-color: #5aba73;
    height: 700px;
    color: #49825b;
    align-items: center;
}

.services-box{
    width: 120vh;
    
}

.services-text{
    color: white;
    font-weight: bold;
    margin-left: 95px;
}

.services-card-box{
    display: flex;
    justify-content: center;
}

.services-card-box i {
    display: flex;
    justify-content: center;
}

.s-card{
    background-color: white;
    width: 280px;
    height: 400px;
    margin-right: 40px;
    border-radius: 10px;
    margin-top: 45px;
}

.s-card i {
    font-size: 90px;
    padding: 40px;
    margin-top: 30px;
}

.s-card h5 {
    font-size: 20px;
    margin-top: 20px;
    padding: 30px;
}

.sponsor-hero{
    padding: 20px;
    height: 70vh;
    margin-top: 60px;
}


.sponsor-text{
    display: flex;
    justify-content: center;
    color: #5aba73;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    max-width: 40px;
    min-width: 40px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    max-width: 40px;
    min-width: 40px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content3 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    max-width: 40px;
    min-width: 40px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dp-button{
    background-color: white;
    border: none;
    border-bottom: 1px solid black;
    padding: 10px;
}

.show {
    display: contents;
}

.faq-hero{
    display: flex;
    justify-content: center;
}

.faq-box{
    display: flex;
    justify-content: space-between;
    width: 150vh;
    padding: 20px;
    color: #333; 
}

.faq-text h1{
    font-size: 70px;
    margin-top: 60px;
}


.faq-item {
overflow: hidden; 
border-bottom: 1px solid black;
margin-right: -100px;
}


.faq-question {
background-color: #fff; 
width: 100%;
padding: 30px;
padding-bottom: 50px;
text-align: left;
font-size: 18px;
border: none;
outline: none;
cursor: pointer;
position: relative;
transition: background-color 0.3s ease; 
}


.faq-question:hover {
background-color: #ffffff; 
}


.faq-question .arrow {
position: absolute;
right: 20px;
transition: transform 0.3s ease; 
}


.faq-question.active .arrow {
transform: rotate(180deg); 
}


.faq-answer {
max-height: 0; 
overflow: hidden;
transition: max-height 0.3s ease; 
background-color: #fff; 
width: 600px;
}

.faq-answer p {
padding: 20px;
font-size: 16px;
line-height: 1.5; 
color: #555; 
}

.footer-container{
    background-color: #5aba73;
    color: white;
    padding: 90px;
    margin-top: 190px;
}

.footer-container hr {
    margin-top: 50px;
    margin-bottom: 60px;
}

.footer-container a {
    font-style: none;
    color: white;
    text-decoration: none;
}

.footer-container span {
    margin-top: 40px;
    font-weight: bold;
    
}

.footer-container span a {
    margin-left: 30px;
}