html{
    overflow-x: hidden;
    font-family: sans-serif;
}

body{
    padding: 0;
    margin: 0;
    background-color: #f0f0f0
}

/* Barra de navegação */
nav{
    justify-content: space-between;
    display: flex;
    padding: 3px;
    background-color: white;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 20px 10px;
    margin-right: 400px;
}

nav li{
    padding: 10px;
    margin-left: 20px;
    transition: 0.5s;
    cursor: pointer;
}

.nav-a{
    font-style: none;
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

nav li:hover {
    color: rgb(192, 192, 192);
}

/*CADASTRO*/
#cad{
    background-color: #5aba73;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
   display: inline;
}

#cad-text{
    text-decoration: none;
    font-style: none;
    color: white;
    font-weight: bold;
}

#cad:hover{
    background-color: #357737;
}

/*ENTRAR*/
#sign{
    background-color: #fafafa;
    border-radius: 10px;
    border-style: solid;
    border-color: #5aba73;
    cursor: pointer;
    transition: 0.5s;
   display: inline;
   margin-left: 2px;
}

#sign-text{
    text-decoration: none;
    font-style: none;
    color: #5aba73;
    font-weight: bold;
}

#sign:hover{
    background-color: #357737;
}


nav li:hover {
    color: rgb(192, 192, 192);
}

img{
    width: 100px;
    margin-left: 400px;
    cursor: pointer;
}

/* Conteúdo */


/* Primeiro container */

.container-1{
    justify-content: center;
    display: flex;
    height: 200px;
    align-items: end;
}

.container-2{
    justify-content: center;
    display: flex;
    height: 60px;
    margin-top: -20px;
}

/* cards */

.card-container {
    display: flex;
    justify-content: center;
    margin: 40px 300px;
    
}
  
.card {
    margin: 20px 20px;
    background-color: #f0f0f0;
    border-radius: 20px;
    text-align: center;
    width: 350px; 
    padding: 0px;
    -webkit-box-shadow: -2px 8px 11px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: -2px 8px 11px 2px rgba(0,0,0,0.1);
    box-shadow: -2px 8px 11px 2px rgba(0,0,0,0.1);
}

.card p {
    text-align: left;
    padding: 0px 10px;
    font-size: 12px;
}
  

.card #marker{
    color: #64ba6a;
    font-size: 24px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 40px;
}
  
.card button {
    display: flex;
    width: 100%;
    border: 0;
    border-radius: 0px 0px 5px 5px;
    background: rgb(92,189,116);
    background: linear-gradient(90deg, rgba(92,189,116,1) 0%, rgba(127,232,131,1) 100%);
    color: white;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
}

.card button i {
    margin-right:15px ;
}
 
.card a {
    font-style: none;
    text-decoration: none;
}

.alternate{
    margin-left: 40px;
    color: rgb(28, 172, 255);
    transition: 0.5s;
    padding: 10px;
    margin: 10px;
    margin-left: 30px;
    border-radius: 30px;
}

.alternate:hover{
    background-color: rgba(141, 197, 230, 0.411);
}

.alternate-anchor{
    font-style: none;
    text-decoration: none;
    color: rgb(28, 172, 255);
}

#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: white; /* cor do background que vai ocupar o body */
    z-index:999; /* z-index para jogar para frente e sobrepor tudo */
}
#preloader .inner {
    position: absolute;
    top: 50%; /* centralizar a parte interna do preload (onde fica a animação)*/
    left: 40%;
    transform: translate(-50%, -50%);  
}